.container {
  width: 100%;
  min-height: calc(100vh - 80px);
  background-color: var(--Color_Background);
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 840px) {
    padding: 20px 30px;
  }
}

.txtBold {
  font-weight: 800;
}