*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Elimina estilos base */
html, body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--fontPrimary);
  color: var(--Color_Text);
}

/* Tipografía */
body {
  text-rendering: optimizeLegibility;
}

/* Multimedia */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Formularios */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

/* Botones */
button {
  cursor: pointer;
}

/* Enlaces */
a {
  text-decoration: none;
  color: inherit;
}

/* Listas */
ul,
ol {
  list-style: none;
}

/* Tablas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Textos largos */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}